
* {
  -fx-board: #CDE6D0;
  -fx-primary: #E9E9E9;
  -fx-secondary: #D1D1D1;
  -fx-tertiary: #F8F8F8;
  -fx-accent: #64A4E7;
}

.combo-box {
  -fx-background-color: -fx-tertiary;
  -fx-background-radius: 5;
}

.button {
  -fx-background-color: -fx-tertiary;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button:hover {
  -fx-background-color: -fx-accent;
}

.color-picker {
  -fx-background-color: -fx-tertiary;
  -fx-background-radius: 5;
}

#tile {
  -fx-background-color: -fx-board;
  -fx-alignment: Center;
  -fx-font-size: 10;
}

#turn-buttons {
  -fx-background-color: -fx-secondary;
  -fx-padding: 5;
}

#decision-display {
  -fx-background-color: -fx-primary;
  -fx-padding: 5;
  -fx-alignment: Center;

}

#decision-display #name {
  -fx-font-size: 20;
  -fx-font-weight: bold;
}

#splash {
  -fx-background-color: -fx-board;
  -fx-padding: 5;
  -fx-spacing: 10;
  -fx-alignment: Center;

}

#padded-box {
  -fx-spacing: 10;
  -fx-padding: 5;
  -fx-alignment: Center;

}

#splash-input {
  -fx-background-color: -fx-tertiary;
  -fx-control-inner-background: -fx-tertiary;
  -fx-prompt-text-fill: -fx-secondary;
  -fx-background-radius: 5;
  -fx-pref-height: 10;
  -fx-pref-width: 200;
}

HBox {
  -fx-alignment: Center;
}

VBox {
  -fx-alignment: Center;
}