
* {
  -fx-board: #CDE6D0;
  -fx-primary: #E9E9E9;
  -fx-secondary: #D1D1D1;
  -fx-tertiary: #F8F8F8;
  -fx-accent: #64A4E7;
}

.button{
  -fx-background-color: -fx-tertiary;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button:hover{
  -fx-background-color: -fx-accent;
}

.tile{
  -fx-background-color: -fx-board;
  -fx-font-size: 10;
}

.game-display{
  -fx-background-color: -fx-secondary;
  -fx-padding: 5;
}

.decision-display{
  -fx-background-color: -fx-primary;
  -fx-padding: 5;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}